p {
    display: block;
    margin: 0 auto;
}

.description {
    margin: 10px 0;
    color: blue;
}

.llamadaTerminada {
    text-decoration: line-through;
}

.custom-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.opcionesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.opcionesContainer input {
    width: 50px;
}